@{
    ViewData["Title"] = "Perfil";
}

<h1>@ViewData["Title"]</h1>
<p>Nombre: Francisco José Jarquín Briceño</p>
<p>Edad: 20</p>
<img src="~/img/Avatar.png" />
<p>Carrera: Ingeniería en Sistemas de la Información</p>